<% provide(:title, "About") %>
<h1>About Page</h1>
<head>
<title><%= yield(:title) %> | Rails Bugz App</title>
</head>
<body>
<h3>To know about the project><a href="https://euphoriaxr.com/">Click here</a></h3>
</body>
