<footer class="footer">
<div class ="footer-content">
<nav>
<h3>BUGZILLA </h3>
<p>This is my test project of BUGZILLA app where you<br/>can create  update  delete & assign the bug.</p>
<ul class ="links">
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
<li><a href="https://euphoriaxr.com/">Click here</a></li>
</ul>
</nav>
</div>
</footer>
